

@import "tailwindcss";

:root {
  --font-playfair: "Playfair Display", serif;
  --font-allerta: "Allerta Stencil", sans-serif;
}

body {
  font-family: var(--font-playfair), sans-serif;
}

.font-blackops {
  font-family: var(--font-blackops);
}


* {
    box-sizing: border-box;
}

.custom_container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

html {
    scroll-behavior: smooth;

}
